/Recitation3/nbproject/private/
/Recitation3/build/
/Recitation3a/nbproject/private/
/TestDraw/nbproject/private/
/TestDraw/dist/
/TestDraw/build/
/jClassDesignerApp/nbproject/private/
/jClassDesignerApp/dist/
/jClassDesignerApp/build/
/JUnit-Sample/nbproject/private/
/JUnit-Sample/build/
/StatCompiler/nbproject/private/
/StatCompiler/build/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/HTML5Application/nbproject/private/
/ServletExample/nbproject/private/
/ServletExample/build/
/ServletExample/dist/
/Homework4/build/
/Homework4/dist/
/Homework4/nbproject/private/